In [1]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import NearestNeighbors
from sklearn import neighbors
from sklearn import svm
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
import time

In [2]:
df = pd.read_excel('precos_porto_seguro.xlsx')

In [3]:
df = df.drop(['modelo', 'modelo_descricao', 'categoria_ID','marca_ID'], axis=1)

In [4]:
df.head()

  marca categoria  periodo_contrato_meses  pacote_km  km_por_mes  preco
0    VW     sedan                      24      24000        1000   3119
1    VW     sedan                      24      36000        1500   3189
2    VW     sedan                      24      48000        2000   3269
3    VW     sedan                      24      60000        2500   3359
4    VW     sedan                      18      18000        1000   3219

In [5]:
df = pd.get_dummies(df)

In [6]:
df.head()

,periodo_contrato_meses,pacote_km,km_por_mes,preco,marca_CAOA-CHERY,marca_CHEVROLET,marca_HYUNDAI,marca_JEEP,marca_NISSAN,marca_RENAULT,marca_TOYOTA,marca_VW,categoria_compacto,categoria_premium,categoria_sedan,categoria_suv
0,24,24000,1000,3119,0,0,0,0,0,0,0,1,0,0,1,0
1,24,36000,1500,3189,0,0,0,0,0,0,0,1,0,0,1,0
2,24,48000,2000,3269,0,0,0,0,0,0,0,1,0,0,1,0
3,24,60000,2500,3359,0,0,0,0,0,0,0,1,0,0,1,0
4,18,18000,1000,3219,0,0,0,0,0,0,0,1,0,0,1,0

In [7]:
X_all = df.drop(['preco'], axis=1)
y_all = df['preco']

In [8]:
num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test, random_state=23)

In [9]:
#Previsão utilizando o classifier RandomForest
clf =RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=20, max_features='log2', max_leaf_nodes=None,
            min_samples_leaf=2, min_samples_split=4,
            min_weight_fraction_leaf=0.0, n_estimators=9, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [10]:
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print("RandomForest score: "+str(accuracy_score(y_test, predictions)))

RandomForest score: 0.0

In [11]:
#Previsão utilizando o classifier KNeighbors
clf = neighbors.KNeighborsClassifier(15, weights='distance')
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print("KNeighbors score: "+str(accuracy_score(y_test, predictions)))

KNeighbors score: 0.0

In [12]:
#Previsão utilizando o classifier DecisionTree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print("DecisionTree score: "+str(accuracy_score(y_test, predictions)))

DecisionTree score: 0.0